@import "../../../mixins";
@import "../../../vars";

.project {
  margin: 0;
  padding-bottom: 20px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  ;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__link {
    &_arrow {
      font-size: 30px;
      line-height: 60px;
      letter-spacing: -0.04em;
      color: var(--color-light);
      border: none;
      font-weight: normal;
      margin: 0;
    }

    &_big {
      font-size: 30px;
      line-height: 50px;
      letter-spacing: -0.04em;
      color: var(--color-light);
      border: none;
      font-weight: normal;
      margin: 0;
    }

  }

}