@import "../../mixins";
@import "../../vars";

.page404 {
  margin: 0 auto;
  // padding: 0 70 px;
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  &__title {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 140px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 184px;
  }

  &__link {
    color: #4285F4;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    &:focus,
    &:active,
    &:visited {
      color: #4285F4;
    }
  }
}