@import "../../../mixins";
@import "../../../vars";

.header {
  &_background-light {
    background: #073042;
  }

  &_background-dark {
    background: #202020;
  }

  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-large);
    min-height: var(--min-height-header-ladge);

    &_signup {
      width: 396px;
      padding: 52px 30px 0;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;

    &_right {
      column-gap: 30px;
    }

    &_middle {
      margin-left: 62px;
      column-gap: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {

    &__container {
      padding: 0px 30px;

      &__nav-top {
        margin: 0 auto;
        padding: 21px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
      }

      &__nav-btn {
        background: #202020;
        border: none;
      }

      &__nav-btn-img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {

    &__container {
      padding: 0px 14px;
    }

    &__navigation {

      &_right {
        column-gap: 14px;
      }
    }
  }
}