@import "../../../mixins";
@import "../../../vars";

.button {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  background: #4285F4;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-light);
  border: none;
  // text-decoration: none;
  transition: var(--transition);

  &:hover {
    opacity: var(--opacity);
  }

  &_search {
    width: 100px;
    height: 52px;
  }

  &_more {
    width: 1140px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    margin-bottom: 80px;
  }

}