.users-card {
  box-sizing: border-box;
  padding: 15px;
  padding-left: 22px;
  width: 100%;
  max-width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2F2F2F;
  row-gap: 10px;

  &__name {
    align-self: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #FFF;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__attributes {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    column-gap: 15px;
    row-gap: 5px;
  }

  &__attribute-container {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  &__text-attribute {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    color: #8B8B8B;
  }

  &__roles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
  }

  &__role {
    width: 100px;
    height: 32px;
    margin-bottom: 15px;
    padding: 0 15px;
    border: none;
    border-radius: 20px;
    background: #313131;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;

    &:disabled {
      cursor: auto;
      transition: none;

      &:hover {
        opacity: 1;
      }
    }

    &_yes {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .users-card {
    max-width: 300px;

    &__name {
      align-self: center;
    }

    &__attributes {
      grid-template-columns: 1fr;
    }

    &__roles {
      grid-template-columns: repeat(2, 1fr);

    }
  }
}