@import "../../../mixins";
@import "../../../vars";

.card {
  box-sizing: border-box;
  padding: 6px;
  padding-left: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2F2F2F;
  column-gap: 10px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    padding-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #FFF;
  }

  &__duration {
    padding-top: 13px;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: #8B8B8B;
  }

  &__like-container {
      display: flex;
      margin-top: 30px;
  }

  &__like-count {
    width: 14px;
    font-size: 11px;
    line-height: 14px;
    color: #8B8B8B;
    padding-left: 7px;
  }

  &__button {
    padding: 0;
    width: 14px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .6;
    }

    &_heart {
      background-image: url("../../../images/icon_dislike.svg");

      &_active {
        background-image: url("../../../images/icon_like.svg");
      }
    }

    &_delete {
      background-image: url("../../../images/icon_delete.svg");
    }
  }

  &__link-img {
    margin: 0;
    padding: 0;
    width: 220px;
    min-width: 220px;
    height: 122px;
    background: #202020;
  }

  &__photo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    margin: 0 auto;
    padding: 0 0 14px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 300px;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 14px;
      padding: 0 12px;
    }

    &__name {
      padding-top: 0;
      font-size: 12px;
    }

    &__duration {
      padding-top: 8px;
    }

    &__button {
      margin-top: 0;
      margin-right: 4px;
    }

    &__link-img {
      width: 300px;
      height: 168px;
      order: -1;
      margin: 0 auto;
    }
  }
}