@import "../../../mixins";
@import "../../../vars";

.saved-movies {
  margin: 0 auto;
  padding: 70px 70px 0;
  max-width: calc(var(--max-width-large) - 140px);
  display: flex;
  flex-direction: column;

  &_bg {
    background: #202020;
  }

  &__unsuccess-search {
    margin: 25px auto;
    color: #FFF;
  }

  &__more-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-light);
    border: none;
    width: 1140px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    margin-bottom: 80px;
  }

  &__common {
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}