@import "../../../mixins";
@import "../../../vars";

.movies {
  margin: 0 auto;
  padding: 70px 70px 10px;
  max-width: calc(var(--max-width-large) - 140px);
  display: flex;
  flex-direction: column;

  &_bg {
    background: #202020;
  }

  &__unsuccess-search {
    margin: 25px auto;
    color: #FFF;
  }

}