@import "../../../mixins";
@import "../../../vars";

.form {
  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #8B8B8B;
    width: 100%;
    margin-top: 11px;

    &:first-child {
      margin-top: 0;
    }

    &_profile {
      flex-direction: row;
      align-items: center;
      padding-top: 17px;
      border-top: 1px solid #424242;
      color: #FFFFFF;
      font-size: 11px;
      line-height: 1.1;
      margin-top: 5px;


      &:first-child {
        margin: 0;
        padding: 0;
        border-top: none;
      }
    }
  }

  &__label-text {
    &_profile {
      width: 50px;
    }
  }

  &__input {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    background: #2F2F2F;
    border-radius: 8px;
    border: none;
    height: 46px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #FFF;
    box-shadow: inset 0 0 0 1px rgba(47, 47, 47, 0), inset 0 0 0 100px rgba(47, 47, 47, 1);

    &:focus {
      outline: none;
    }

    &_red {
      color: #EE3465;
    }

    &_profile {
      text-align: right;
      margin: 0;
      box-shadow: inset 0 0 0 1px rgba(32, 32, 32, 0), inset 0 0 0 100px rgba(32, 32, 32, 1);
      font-size: 11px;
      line-height: 1.1;
    }
  }
}